.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 1s; /* Adjust the duration as needed */
    animation-timing-function: ease-in-out; /* Adjust the timing function as needed */
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}


.fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 1s; /* Adjust the duration as needed */
    animation-timing-function: ease-in-out; /* Adjust the timing function as needed */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    50% {
        opacity: 0.8;
        transform: translate3d(0, -50px, 0); /* Adjust the bounce height as needed */
    }

    to {
        opacity: 1;
        transform: none;
    }
}


.fadeInUp {
    animation-name: fadeInUp;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
